<h1 style="margin-left: 20%; margin-right: 20%; color: #ff0000">Sửa bình luận</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', admin_comment_path(@comment) %> |
<%= link_to 'Trở lại',  admin_comments_path %>