<h1 style="margin-left: 20%; margin-right: 20%;color: #ff0000">Chỉnh sửa bài đăng</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', admin_post_path(@post) %> |
<%= link_to 'Trở lại',  admin_posts_path %>