<h1 style="margin-left: 20%; margin-right: 20%; color: #ff0000">Sửa thông tin loại sản phẩm</h1>

<%= render 'form', category: @category %>

<%= link_to 'Show', admin_categories_path %> |
<%= link_to 'Trở lại', admin_categories_path %>