<h1 style="margin-left: 20%; margin-right: 20%;color: #ff0000">">Chỉnh sửa tin trả lờis</h1>

<%= render 'form', reply: @reply %>

<%= link_to 'Show', admin_reply_path(@reply) %> |
<%= link_to 'Trở lại',  admin_replies_path %>